<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../assets/css/root.css" />
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/fonts.css" />
    <link rel="stylesheet" href="../assets/css/ui.css" />
    <link rel="stylesheet" href="../assets/css/cms-content.css" />
    <link rel="stylesheet" href="../assets/css/shared/logo.css" />
    <link rel="stylesheet" href="../assets/css/shared/button.css" />
    <link rel="stylesheet" href="../assets/css/shared/heading.css" />
    <link rel="stylesheet" href="../assets/css/shared/icons.css" />
    <link rel="stylesheet" href="../assets/css/shared/span.css" />
    <link rel="stylesheet" href="../assets/css/shared/dropdown-menu.css" />
    <link rel="stylesheet" href="../assets/css/entities/content-wrapper.css" />
    <link rel="stylesheet" href="../assets/css/entities/cookie-overlay.css" />
    <link rel="stylesheet" href="../assets/css/entities/float-img.css" />
    <link rel="stylesheet" href="../assets/css/entities/bg-highlight.css" />
    <link rel="stylesheet" href="../assets/css/entities/popup.css" />
    <link rel="stylesheet" href="../assets/css/widgets/header.css" />
    <link rel="stylesheet" href="../assets/css/widgets/footer.css" />
    <link rel="stylesheet" href="../assets/css/widgets/not-found.css" />
    <meta property="og:title" content="Страница не найдена – Авиценна" />
    <meta property="og:image" content="../assets/images/cover.jpg" />
    <title>Страница не найдена – Авиценна</title>
  </head>
  <body>
    <header class="header">
      <div class="content-wrapper header__content-block">
        <div
          class="header__menu-button button is-aspect-ratio-1b1 is-style-bordered"
        >
          <span class="icon" data-type="hamburger"></span>
        </div>
        <div class="header__heading">
          <div class="header-logo">
            <a href="index.html" class="logo-full">
              <img src="../assets/images/logo.svg" alt="Авиценна" />
            </a>
          </div>
          <div class="header-filial">
            <div class="dropdown-menu is-style-bordered">
              <ul>
                <li>
                  <a>Филиалы</a>
                  <ul>
                    <li><a href="page-filial.html">Филиал на Юбилейном</a></li>
                    <li><a href="page-filial.html">Центр охраны зрения</a></li>
                    <li><a href="page-filial.html">Филиал в Иволгинске</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header__contacts">
          <a
            href="https://vk.com/avicenna_uu"
            target="_blank"
            class="button is-style-secondary is-size-m is-aspect-ratio-1b1"
            ><span class="icon" data-type="vk"></span
          ></a>
          <a
            href="#!"
            target="_blank"
            class="button is-style-secondary is-size-m is-aspect-ratio-1b1"
            ><span class="icon" data-type="max"></span
          ></a>
          <div class="header-contacts__phones">
            <div class="header-contacts-phones__item">
              <span class="span is-size-xxs">Филиал на Юбилейном</span>
              <a
                href="tel:+7 (3012) 37-60-60"
                class="button is-style-transparent is-size-s"
                >+7 (3012) 37-60-60</a
              >
            </div>
            <div class="header-contacts-phones__item">
              <span class="span is-size-xxs">Центр охраны зрения</span>
              <a
                href="tel:+7 (3012) 60-13-13"
                class="button is-style-transparent is-size-s"
                >+7 (3012) 60-13-13</a
              >
            </div>
            <div class="header-contacts-phones__item">
              <span class="span is-size-xxs">Филиал в Иволгинске</span>
              <a
                href="tel:+7 (3012) 31-16-11"
                class="button is-style-transparent is-size-s"
                >+7 (3012) 31-16-11</a
              >
            </div>
          </div>
        </div>
        <nav class="header__nav dropdown-menu is-only-desktop">
          <ul>
            <li>
              <a href="404.html">О центре</a>
              <ul>
                <li><a href="404.html">Реквизиты</a></li>
                <li><a href="404.html">Правовая информация</a></li>
                <li><a href="404.html">Контролирующие органы</a></li>
                <li><a href="404.html">Вакансии</a></li>
              </ul>
            </li>
            <li>
              <a href="404.html">Пациенту</a>
              <ul>
                <li><a href="index.html#specialists">Специалисты</a></li>
                <li><a href="404.html">Налоговый вычет</a></li>
                <li><a href="single-page.html">Памятка на медосмотр</a></li>
                <li><a href="404.html">Подготовка к исследованиям</a></li>
                <li><a href="404.html">Электронная медкнижка</a></li>
              </ul>
            </li>
            <li>
              <a href="404.html">Прочее</a>
              <ul>
                <li><a href="404.html">Юридическим лицам</a></li>
                <li><a href="blog-page.html">Новости</a></li>
                <li><a href="blog-page.html">Акции</a></li>
                <li><a href="blog-page.html">Отзывы</a></li>
                <li><a href="404.html">FAQ</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="header__actions">
          <a
            target="_blank"
            href="https://prodoctorov.ru/ulan-ude/set/5849-avicenna/"
            class="button is-style-accent is-rounded is-wide header__target-button"
            >Записаться</a
          >
        </div>
      </div>
    </header>
    <section id="not_found" class="not-found bg-highlight is-has-gradient">
      <div class="content-wrapper">
        <h1 class="heading is-size-h1">Ошибка 404</h1>
        <p class="span">Cтраницы по этой ссылке не существует</p>
        <a href="index.html" class="button is-style-secondary-alt">
          <span class="icon" data-type="arrow-undo"></span>
          Вернуться на главную
        </a>
      </div>
    </section>
    <div id="cookie_overlay" class="cookie-overlay">
      <div class="content-wrapper">
        <div class="cookie-overlay__block">
          <p class="span is-size-xss">
            Мы используем файлы cookie. Продолжая, пользоваться сайтом, вы
            соглашаетесь с условиями
            <a href="404.html">политики конфиденциальности</a>
          </p>
          <div class="button cookie-overlay__btn is-highlight">
            Согласен
            <span class="icon" data-type="check"></span>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="footer__content">
        <div class="content-wrapper">
          <div class="footer-content__logo">
            <a href="index.html" class="logo-full">
              <img src="../assets/images/logo.svg" alt="Авиценна" />
            </a>
          </div>
          <div class="footer-content__info">
            <div class="footer-content-info__contacts">
              <div class="footer-contacts-line">
                <div
                  class="footer-contacts-line__icon button is-size-s is-style-transparent is-highlight is-aspect-ratio-1b1"
                >
                  <span class="icon" data-type="phone"></span>
                </div>
                <div class="footer-phone-group">
                  <div class="footer-phone-group__line">
                    <span
                      class="button is-size-s is-style-transparent is-highlight is-no-hover"
                      target="_blank"
                      >Филиал на Юбилейном
                    </span>
                    <a
                      href="tel:+7 (3012) 37-60-60"
                      class="button is-size-s is-style-transparent"
                      target="_blank"
                      >+7 (3012) 37-60-60
                    </a>
                  </div>
                  <div class="footer-phone-group__line">
                    <span
                      class="button is-size-s is-style-transparent is-highlight is-no-hover"
                      target="_blank"
                      >Центр охраны зрения
                    </span>
                    <a
                      href="tel:+7 (3012) 60-13-13"
                      class="button is-size-s is-style-transparent"
                      target="_blank"
                      >+7 (3012) 60-13-13
                    </a>
                  </div>
                  <div class="footer-phone-group__line">
                    <span
                      class="button is-size-s is-style-transparent is-highlight is-no-hover"
                      target="_blank"
                      >Филиал в Иволгинске
                    </span>
                    <a
                      href="tel:+7 (3012) 31-16-11"
                      class="button is-size-s is-style-transparent"
                      target="_blank"
                      >+7 (3012) 31-16-11
                    </a>
                  </div>
                </div>
              </div>
              <div class="footer-contacts-line">
                <div
                  class="footer-contacts-line__icon button is-size-s is-style-transparent is-highlight is-aspect-ratio-1b1"
                >
                  <span class="icon" data-type="email"></span>
                </div>
                <a
                  href="mailto:avicenna.2013@yandex.ru"
                  target="_blank"
                  class="button is-size-s is-style-transparent"
                  >avicenna.2013@yandex.ru
                </a>
              </div>
            </div>
            <div class="footer-content-info__socials">
              <a
                href="https://vk.com/avicenna_uu"
                target="_blank"
                class="button is-size-m is-style-bordered is-aspect-ratio-1b1"
                ><span class="icon" data-type="vk"></span></a
              ><a
                href="#!"
                target="_blank"
                class="button is-size-m is-style-bordered is-aspect-ratio-1b1"
                ><span class="icon" data-type="max"></span
              ></a>
            </div>
          </div>
          <div class="footer-content__nav">
            <ul>
              <li>
                <a href="404.html">О центре</a>
                <ul>
                  <li><a href="404.html">Реквизиты</a></li>
                  <li><a href="404.html">Правовая информация</a></li>
                  <li><a href="404.html">Контролирующие органы</a></li>
                  <li><a href="404.html">Вакансии</a></li>
                </ul>
              </li>
              <li>
                <a>Филиалы</a>
                <ul>
                  <li><a href="page-filial.html">Филиал на Юбилейном</a></li>
                  <li><a href="page-filial.html">Центр охраны зрения</a></li>
                  <li><a href="page-filial.html">Филиал в Иволгинске</a></li>
                </ul>
              </li>
              <li>
                <a href="404.html">Пациенту</a>
                <ul>
                  <li><a href="index.html#specialists">Специалисты</a></li>
                  <li><a href="404.html">Налоговый вычет</a></li>
                  <li><a href="single-page.html">Памятка на медосмотр</a></li>
                  <li><a href="404.html">Подготовка к исследованиям</a></li>
                  <li><a href="404.html">Электронная медкнижка</a></li>
                </ul>
              </li>
              <li>
                <a href="404.html">Прочее</a>
                <ul>
                  <li><a href="404.html">Юридическим лицам</a></li>
                  <li><a href="blog-page.html">Новости</a></li>
                  <li><a href="blog-page.html">Акции</a></li>
                  <li><a href="blog-page.html">Отзывы</a></li>
                  <li><a href="404.html">FAQ</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__copyright">
        <div class="content-wrapper">
          <span class="footer-copyright__label span is-size-xs"
            >© 2026 «ООО Авиценна»</span
          >
          <div class="footer-copyright__actions">
            <a
              href="404.html"
              class="button is-size-s is-style-transparent is-highlight"
              ><span class="icon" data-type="eye"></span>Версия для
              слабовидщих</a
            ><a
              href="404.html"
              class="button is-size-s is-style-transparent is-highlight"
              >Пользовательское соглашение</a
            ><a
              href="404.html"
              class="button is-size-s is-style-transparent is-highlight"
              >Информация на сайте не является публичной офертой</a
            ><a
              href="404.html"
              class="button is-size-s is-style-transparent is-highlight"
              >Licenses</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script src="../assets/js/clipboard.js"></script>
    <script src="../assets/js/cookie.js"></script>
    <script src="../assets/js/float-img-win.js"></script>
    <script src="../assets/js/header.js"></script>
    <script src="../assets/js/popup.js"></script>
    <script src="../assets/js/smooth-scroll.js"></script>
  </body>
</html>
