<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/root.css" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/ui.css" />
    <link rel="stylesheet" href="/assets/css/cms-content.css" />
    <link rel="stylesheet" href="/assets/css/shared/button.css" />
    <link rel="stylesheet" href="/assets/css/shared/heading.css" />
    <link rel="stylesheet" href="/assets/css/shared/icons.css" />
    <link rel="stylesheet" href="/assets/css/shared/span.css" />
    <link rel="stylesheet" href="/assets/css/shared/dropdown-menu.css" />
    <link rel="stylesheet" href="/assets/css/entities/content-wrapper.css" />
    <link rel="stylesheet" href="/assets/css/entities/cookie-overlay.css" />
    <link rel="stylesheet" href="/assets/css/entities/float-img.css" />
    <link rel="stylesheet" href="/assets/css/entities/popup.css" />
    <link rel="stylesheet" href="/assets/css/widgets/header.css" />
    <link rel="stylesheet" href="/assets/css/widgets/footer.css" />
    <title>Авиценна</title>
  </head>
  <body>
    <header class="header">
      <div class="content-wrapper header__content-block">
        <div
          class="header__menu-button button is-aspect-ratio-1b1 is-style-bordered"
        >
          <span class="icon" data-type="hamburger"></span>
        </div>
        <div class="header__heading">
          <div class="header-logo">
            <a href="index.html" class="logo-full">
              <img src="../assets/images/logo.svg" alt="Авиценна" />
            </a>
          </div>
          <div class="header-filial">
            <div class="dropdown-menu is-style-bordered">
              <ul>
                <li>
                  <a>Филиалы</a>
                  <ul>
                    <li><a href="404.html">Филиал на Юбилейном</a></li>
                    <li><a href="404.html">Центр охраны зрения</a></li>
                    <li><a href="404.html">Филиал в Иволгинске</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="header__contacts">
          <a
            href="#!"
            class="button is-style-secondary is-size-m is-aspect-ratio-1b1"
            ><span class="icon" data-type="vk"></span
          ></a>
          <a
            href="#!"
            class="button is-style-secondary is-size-m is-aspect-ratio-1b1"
            ><span class="icon" data-type="max"></span
          ></a>
          <div class="header-contacts__phones">
            <div class="header-contacts-phones__item">
              <span class="span is-size-xxs">Филиал на Юбилейном</span>
              <a
                href="tel:+7 (3012) 37-60-60"
                class="button is-style-transparent is-size-s"
                >+7 (3012) 37-60-60</a
              >
            </div>
            <div class="header-contacts-phones__item">
              <span class="span is-size-xxs">Центр охраны зрения</span>
              <a
                href="tel:+7 (3012) 60-13-13"
                class="button is-style-transparent is-size-s"
                >+7 (3012) 60-13-13</a
              >
            </div>
            <div class="header-contacts-phones__item">
              <span class="span is-size-xxs">Филиал в Иволгинске</span>
              <a
                href="tel:+7 (3012) 31-16-11"
                class="button is-style-transparent is-size-s"
                >+7 (3012) 31-16-11</a
              >
            </div>
          </div>
        </div>
        <nav class="header__nav dropdown-menu is-only-desktop">
          <ul>
            <li>
              <a href="404.html">О центре</a>
              <ul>
                <li><a href="404.html">Элемент меню</a></li>
                <li><a href="404.html">Элемент меню</a></li>
                <li><a href="404.html">Элемент меню</a></li>
              </ul>
            </li>
            <li>
              <a href="404.html">Пациенту</a>
              <ul>
                <li><a href="404.html">Элемент меню</a></li>
                <li><a href="404.html">Элемент меню</a></li>
                <li><a href="404.html">Элемент меню</a></li>
              </ul>
            </li>
            <li>
              <a href="404.html">Прочее</a>
              <ul>
                <li><a href="404.html">Элемент меню</a></li>
                <li><a href="404.html">Элемент меню</a></li>
                <li><a href="404.html">Элемент меню</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <div class="header__actions">
          <a
            href="#buy"
            class="button is-style-accent is-rounded is-wide header__target-button"
            >Заказать звонок</a
          >
        </div>
      </div>
    </header>
    <script src="/assets/js/clipboard.js"></script>
    <script src="/assets/js/cookie.js"></script>
    <script src="/assets/js/float-img-win.js"></script>
    <script src="/assets/js/header.js"></script>
    <script src="/assets/js/popup.js"></script>
  </body>
</html>
