<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/root.css" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/ui.css" />
    <link rel="stylesheet" href="/assets/css/cms-content.css" />
    <link rel="stylesheet" href="/assets/css/shared/button.css" />
    <link rel="stylesheet" href="/assets/css/shared/heading.css" />
    <link rel="stylesheet" href="/assets/css/shared/icons.css" />
    <link rel="stylesheet" href="/assets/css/shared/span.css" />
    <link rel="stylesheet" href="/assets/css/entities/content-wrapper.css" />
    <link rel="stylesheet" href="/assets/css/entities/cookie-overlay.css" />
    <link rel="stylesheet" href="/assets/css/entities/float-img.css" />
    <link rel="stylesheet" href="/assets/css/entities/popup.css" />
    <link rel="stylesheet" href="/assets/css/widgets/header.css" />
    <link rel="stylesheet" href="/assets/css/widgets/footer.css" />
    <title>Авиценна</title>
  </head>
  <body>
    <script src="/assets/js/clipboard.js"></script>
    <script src="/assets/js/cookie.js"></script>
    <script src="/assets/js/float-img-win.js"></script>
    <script src="/assets/js/header.js"></script>
    <script src="/assets/js/popup.js"></script>
  </body>
</html>
