.not-found {
  padding: calc(var(--gap-sections) * 2) 0;
  margin-bottom: calc(0px - var(--gap-sections));
  border-bottom: 1px solid var(--color-border-secondary);
}

.not-found .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
