@font-face {
  font-family: "Comissioner";
  src: url(../fonts/Commissioner/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf);
  font-style: italic;
}
