.specialist-card {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--border-radius-m);
  transition: var(--transition-m);
}

.specialist-card:hover,
.specialist-card:active {
  box-shadow: var(--shadow-card-s);
}

.specialist-card__headings {
  margin-bottom: 16px;
}

.specialist-card .span.is-size-xs {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.specialist-card__cover {
  width: 120px;
  min-width: 120px;
  height: 120px;
}

.specialist-card__cover img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-s);
}

.specialist-card__filial {
  justify-content: flex-start;
  padding: 0;
  font-size: 12px;
}

.specialist-card .button.specialist-card__readmore {
  position: static;
}

.specialist-card__readmore::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.specialist-card .button:not(.specialist-card__readmore) {
  position: relative;
  z-index: 2;
  transform: translateZ(1px);
}

.single-header .specialist-card__cover {
  height: 100%;
  min-height: 200px;
  min-width: 200px;
}

.single-header .specialist-card {
  display: flex;
  gap: 12px;
}

@media screen and (min-width: 681px) {
  .specialist-card .flex.is-gap-8.is-dir-col.is-justify-sb.is-wide-full {
    position: relative;
    max-width: calc(100% - 208px);
  }
}

@media screen and (max-width: 680px) {
  .single-header .specialist-card {
    flex-wrap: wrap;
  }
}
